@import "normalize.css";
@import "color.css";
@import "code.css";
@import "global.css";
@import "fontello.css";
@import "animation.css";

@import "page.css";
@import "article.css";
@import "archive-tag.css";
@import "content.css";

.header-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  margin-bottom: 5rem;
  text-align: center;
  background: $dark no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  a {
    color: $greyLight;
  }
  .title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: 700;
    color: $white;
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    @mixin font-assist;
  }
  .subtitle {
    margin: 0;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 0.01rem;
    color: rgba(255,255,255,0.8);
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    @mixin font-main;
  }
  .index {
    display: flex;
    align-items: center;
    .logo {
      width: 30px;
      height: 30px;
      /*border-radius: 50%;*/
      /*border: 1px solid $greyLighter;*/
      margin-right: 10px;
    }
  }
  .menu {
    display: flex;
    .menu-item {
      margin-right: 10px;
    }
  }
  .inner {
    width: 80%;
  }
  .main-nav {
    /*position: relative;*/
    padding: 35px 40px;
    margin: 0 0 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    a {
      text-decoration: none;
      @mixin font-assist;
    }
    .blog-logo {
      display: block;
      float: left;
      background: none !important;
      border: none !important;
      img {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 38px;
        padding: 1px 0 5px 0;
        width: auto;
      }
    }
  }
}
a.name {
  color: $black;
}
.main {
  color: $black;
  margin: 0 auto;
  max-width: 720px;
  padding: 0 15px;
  min-height: 100%;
  position:relative;
  .site {
    .logo {
      margin: 0 auto;
      width: 80px;
      height: 80px;
      /*border-radius: 50%;*/
      background-size: cover;
      background-repeat: no-repeat;
      /*border: 1px $greyLighter solid;*/
    }
    .title {
      margin: 0;
      margin-top: 30px;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
    }
    .subtitle {
      @mixin font-main;
      font-style: italic;
      margin-top: 10px;
      font-size: 16px;
      color: $greyLight;
      text-align: center;
      font-weight: normal;
    }
  }
  &.about {
    .info {
      margin-top: 80px;
      text-align: center;
    }
  }
}
.container {
  position: relative;
  z-index: 10;
  min-height: 100%;
  background: $white;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.footer {
  width: 100%;
  font-size: 14px;
  border-top: 1px $white solid;
  color: $greyLight;
  background-color: $whiteLighter;
  clear: both;
  position: relative;
  height: 32px;
  margin-top: -36px;
  span {
    padding: 8px 15px;
    display: block;
    a {
      font-weight: bold;
    }
  }
  .copyright {
    float: left;
  }
  .publish {
    float: right;
    a {
      color: $greyLight;
      text-decoration: none;
    }
  }
}
.menu-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: right;
  height: 38px;
  padding: 0 15px;
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.5s ease;
  &:before {
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
    position: relative;
    top: 1px;
  }
  &:hover {
      background: $white;
  }
  &:focus {
      outline: 0;
  }
}
.nav-closed .menu-button {
    color: $white;
    border-color: rgba(255, 255, 255, 0.6);
}

.nav-closed .menu-button:hover {
    color: $dark;
}
